* {
  font-family: "Montserrat", serif;
  background-color: blanchedalmond;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 800;
  font-size: 1.8rem;
  border: 3px solid green;
  display: inline;
  padding: 4px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 3rem;
}

/* a {
  color: black;
} */

@media screen and (max-width: 616px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
  }
}

/* MAIN */

.portrait-photo {
  width: 30%;
}

#header3 {
  font-size: 1.5rem;
}

#subsubhead {
  font-size: 0.9rem;
  padding-left: 1rem;
}

#header4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.bullet {
  list-style: disc;
  padding-left: 1rem;
  font-size: 0.9rem;
}

#header5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* CONTACT FORM  */
/* SUBHEADS */

.subhead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
}

#nametext input {
  background-color: white;
}

#inquirytext {
  margin-bottom: 4rem;
}

#inquirytext input {
  min-height: 150px;
  min-width: 350px;
  box-sizing: border-box;
  padding-bottom: 150px;
  background-color: white;
}

#send-text {
  margin-left: 0rem;
}

/* MY WORKS */

#project-header {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

figure figcaption {
  text-align: center;
  margin-left: -50px;
  margin-top: 10px;
}

#magazine-box {
  width: 90%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

#flyer-box {
  width: 90%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}

#illustrator-box {
  width: 80%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#photoshop-box {
  width: 80%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}

#indesign-box {
  width: 80%;
  animation-name: popout;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.works-figure {
  display: inline-block;
  margin: 20px;
}

@media screen and (max-width: 470px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@keyframes popout {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.85;
  }

  30% {
    opacity: 1;
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* ILLUSTRATOR PAGE */

.illustrator-photo {
  width: 400px;
}

#yellow-1 {
  width: 300px;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

#yellow-2 {
  width: 210px;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

#yellow-3 {
  width: 300px;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: backwards;
}

#yellow-4 {
  width: 210px;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
  animation-fill-mode: backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* MAGAZINE PAGE */
.magazine-photo {
  width: 90%;
}

/* INDESIGN PAGE */
.indesign-photo {
  width: 80%;
}

/* FOOTER */

footer {
  margin-top: 4rem;
  border-top: 2px solid green;
}
